* {
    padding: 0;
    margin: 0;
}

html,
body {
    background-color: white;
    /* background-image: url(../img/望闻问切/bg1.png); */
}

.back_block {
    width: 1360px;
    height: 50px;
    position: absolute;
    left: 50%;
    margin-left: -680px;
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 25px;
    color: #bda07e;
    cursor: pointer;
    z-index: 10;
}

.back_block>p>strong {
    font-size: 20px;
}

header {
    display: flex;
    background-image: url(../img/首页/bg.png);
}

header>div {
    margin: auto;
    width: 100%;
    height: 700px;
    overflow: hidden;
    position: relative;
}

header>div>div {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
}

header img {
    width: 100%;
}

.down1 {
    z-index: 1;
    bottom: -70px;
    animation: run 150s linear infinite;
}

.down2 {
    z-index: 2;
    bottom: -70px;
    animation: run 180s linear infinite;
}

.down3 {
    z-index: 3;
    bottom: -100px;
    animation: run 190s linear infinite;
}

.up1 {
    z-index: 4;
    animation: run 150s linear infinite;
    opacity: 0.8;
}

.up2 {
    z-index: 5;
    animation: run 170s linear infinite;
    opacity: 0.8;
}

.up3 {
    z-index: 6;
    animation: run 160s linear infinite;
    opacity: 0.8;
}

.up4 {
    z-index: 7;
    animation: run 165s linear infinite;
    opacity: 0.9;
}

.up5 {
    z-index: 8;
    animation: run 175s linear infinite;
    opacity: 0.7;
}

.up6 {
    z-index: 9;
    animation: run 155s linear infinite;
    opacity: 0.8;
}

@keyframes run {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-4080px);
    }
}

.pic {
    width: 250px;
    height: 250px;
    position: absolute;
    z-index: 11;
    left: 50%;
    margin-left: -125px;
    top: 50%;
    margin-top: -90px;
}

.pic img {
    width: 250px;
}

.text {
    width: 600px;
    height: 600px;
    position: absolute;
    z-index: 2;
    left: 50%;
    margin-left: -300px;
    top: 50%;
    margin-top: -350px;
    opacity: 0.7;
}

.text p {
    width: 600px;
    height: 600px;
    font-size: 400px;
    text-align: center;
    line-height: 600px;
    color: rgba(17, 57, 47, 0.7);
    text-shadow: -1px -1px 1px #08251d, 1px 1px 1px #0e4738;
}

section {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

section p {
    width: 1360px;
    /* height: 800px; */
    text-align: center;
    line-height: 70px;
    font-size: 22px;
    padding-bottom: 100px;
    margin: 0 auto;
}

.end {
    width: 100%;
    height: 70px;
    background-image: url(../img/首页/bg.png);
    margin: 0 auto;
    position: relative;
    bottom: 0;
}