@font-face {
    font-family: "iconfont";
    /* Project id  */
    src: url('iconfont.ttf?t=1651667701156') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 50px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-cuowuguanbiquxiao-xianxingfangkuang:before {
    content: "\e8e7";
}

.icon-cuowuguanbiquxiao-xianxingyuankuang:before {
    content: "\e8e8";
}